<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">

    {% extends "base.html" %}
    {% load static %}
    </head>
    <body>
    <table>
            <tr>
              <th>First Name</th>
              <th>Last Name</th>
              <th>Position</th>
              <th>Commission</th>
            </tr>
            
            {% for object in Recruiter %}
            <tr>
                <td>{{ object.first_name }}</td>
                <td>{{ object.last_name }}</td>
                <td>{{ object.position }}</td>
                <td>{{ object.commission }}</td>
            </tr>
         </table>   
            
            {% empty %}
            <h2>No Recruiters entered yet</h2>
            {% endfor %}
    
    </body>
</html>
